#quadro
{
    height: 300px;
    width: 300px;
    margin-top: 50px;
    margin: 50px auto;
    border: 5px solid gold;
    border-radius: 30%;

    /*border-style: solid;
    border-width: 2px;
    border-color: gold;*/
    
    /*margin: 50px auto;
    background-color: rgb(43, 86, 226);
    background-image: url('../imagens/foto1.jpg');
    background-size: cover;
    background-blend-mode: luminosity;*/


}